.root > .app .btn.btn-submit.btn-generate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 4px;
  line-height: 2;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1ch;
  background-color: $primary-dark;
  color: $aside-background-color;

  &:hover { background: $primary-dark-hover; }
}