.aside {
  width: $aside-tab-width-px;
  position: relative;
  transition: all 80ms ease-out;
  overflow: hidden;

  & > .aside-header { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & > .aside-container {
    display: flex;
    flex-direction: column; 
    height: 100%; 
    width: 100%;
    overflow-x: hidden;

    & > .form-container { 
      margin-right: $aside-tab-width-px; 
      width: calc(100% - $aside-tab-width-px);
    }
  }
}

.app.menu-open > .aside {
  width: $aside-width-px;
}