.footer {
  position: relative;
  display: flex;
  align-items: flex-end;


  & > .footer-container { 
    flex: 1;
    margin-right: 1rem;
    font-size: 0.8rem;
    text-align: center; 
    padding-bottom: 1ch;
  }
}