.form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $aside-content-width-px;

  fieldset {
    width: calc(100% - 2ch);
    padding: 1ch 2ch 0.5ch 1ch;
    margin: 1ch auto;
    border-radius: 4px;

    legend { 
      transform: translateY(-0.25rem);
      padding: 0 1.5ch;
    }
  }
}