.header {
  position: relative;
  padding: 1ch;

  & > .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.2rem;
    line-height: 2;
    padding: 0;
    margin: 0;
  }
}