$primary-hue: 265;
$error-hue: 0;

$light-mode-sat: 60%;
$light-mode-light: 30%;

$dark-mode-sat: 30%;
$dark-mode-light: 60%;

$primary-light: hsl($primary-hue, $light-mode-sat, $light-mode-light);
$primary-light-hover: hsl($primary-hue, 80%, 35%);
$primary-dark: hsl($primary-hue, $dark-mode-sat, $dark-mode-light);
$primary-dark-hover: hsl($primary-hue, 50%, 65%);

$error-light: hsl($error-hue, $light-mode-sat, $light-mode-light);
$error-dark: hsl($error-hue, $dark-mode-sat, $dark-mode-light);

$low-sat: 8%;

$background-color-light: hsl($primary-hue, $low-sat, 95%);
$background-color-dark: hsl($primary-hue, $low-sat, 16%);
$aside-background-color: hsl($primary-hue, $low-sat, 14%);
$aside-color: hsl($primary-hue, $low-sat, 70%);
$aside-border-color: hsl($primary-hue, $low-sat, 18%);
$body-color-light: hsl($primary-hue, $low-sat, 20%);
$body-color-muted-light: hsl($primary-hue, $low-sat, 60%);
$body-color-dark: hsl($primary-hue, $low-sat, 85%);
$body-color-muted-dark: hsl($primary-hue, $low-sat, 40%);

