.app[data-darkmode="true"] {
  background-color: $background-color-dark;
  color: $body-color-dark;

  
  & > .header h1 {
    color: #888;
    padding-left: 1ch;
    span { color: $primary-dark; }
  }

  & > .footer { color: $body-color-muted-dark; }

  p { 
    color: #666; 
  }
}