@import './light';
@import './dark';


.app .form-control .rc-slider {
  & > .rc-slider-rail { background-color: hsl($primary-hue, 8%, 11%); }

  & > .rc-slider-handle {
    background-color: $aside-background-color;
    border: solid 2px $primary-dark;

    &.rc-slider-handle-dragging.rc-slider-handle-1,
    &.rc-slider-handle-dragging.rc-slider-handle-1 {
      box-shadow: 0 0 0 2px $primary-dark;
    }
  }

  & > .rc-slider-track { background-color: $primary-dark; }

  &:hover > .rc-slider-rail { background-color: hsl($primary-hue, 12%, 8%); }

  &:hover > .rc-slider-track { background-color: $primary-dark-hover; }
}


.app .aside {
  background-color: $aside-background-color;
  color: $aside-color;

  fieldset {
    border-color: $aside-fieldset-border-color;

    legend { color: $aside-legend-color; }
  }

  & > header { border-bottom: 0.05rem solid $aside-border-color; }
}

.form-control .slider-area span { color: $aside-legend-color; }

.form-control .label .helper { 
  color: $aside-legend-color;
  margin-left: 1ch;
  font-size: 0.7em;
}