.app[data-darkmode="false"] {
  background-color: $background-color-light;
  color: $body-color-light;


  & > .header h1 {
    color: #666;

    span { color: $primary-light; }
  }

  & > .footer { color: $body-color-muted-light; }
}